<!DOCTYPE html>
<html>
	<head>
		<title>Ultimate Crowd Control Horse</title>
		<link rel="stylesheet" href="/home.css" />

		<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
	</head>
	<body>
		<div class="page-container">
			<div class="page-header">
				<h1>Ultimate Crowd Control Horse</h1>
			</div>
			<div class="page-content">
				<div id="pageJoinRoom" class="container">
					<label>Enter a Room ID to join:</label>
					<input id="roomIdField" pattern="[A-Z]" />
					<button id="roomIdSubmit">Submit</button>
				</div>

				<div id="pageConnecting" class="container hidden">
					<p>Connecting to room...</p>
				</div>

				<div id="pageInRoomWaiting" class="container hidden">
					You are currently in the room <p id="roomName"></p>!<br>
					Please wait for the game to start...
				</div>

				<div id="pageInGame" class="container hidden">
					Game in progress! Current objects on the map:
					<div id="wrapper" class="embed">
						<div id="placeables">

						</div>
					</div>
				</div>
			</div>
		</div>

		<script>instaJoinRoom="<%- locals.room %>"</script>
		<script src="/logic.js"></script>
	</body>
</html>