<!DOCTYPE html>
<html>
	<head>
		<title>Ultimate Crowd Control Horse</title>
		<link rel="stylesheet" href="/home.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" /><script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
	</head>
	<body>
		<div class="page-container">
			<div class="page-header">
				<span>
					<i class="fa-solid fa-user"></i>
					<span id="connectionInfo">X</span>
				</span>
				<img src="/ui/Logo.png" />
			</div>
			<div class="page-content">
				<div id="pageJoinRoom" class="container">
					<label>Enter a Room ID to join:</label>
					<input id="roomIdField" />
					<button id="roomIdSubmit">Submit</button>
				</div>

				<div id="pageConnecting" class="container hidden">
					<p>Connecting...</p>
				</div>

				<div id="pageInRoomWaiting" class="container hidden">
					<p>You have connected to the room!<br>Please wait for a game to start...</p>
					<p style="color: #282828">(Maybe take the time to watch the funny streamer...)</p>
				</div>

				<div id="pageWaitingForHost" class="container hidden">
					You've entered a valid room code; but the room does not exist...<br>
					Maybe make sure that you've entered the right room code?
					<p style="color: #282828">(Did they give you the wrong room code...?)</p>
				</div>

				<div id="pageInGame" class="container hidden">
					<div id="wrapper" class="embed">
						<div id="placeables">
							<div id="cannotPlaceItems" class="hidden">
								<div class="warning">
									<img src="/ui/CannotPlaceItems.png" />
									<p id="cannotPlaceItemsTimer">You cannot place items right now! (30s)</p>
								</div>
							</div>
						</div>
					</div>
					<div id="itemSidepanel" class="sidepanel">
						<button id="sidepanelOpen" class="openbtn togglebutton" onclick="toggleItemPanel()">&#xAB;</button>
						<div class="content">
							<div class="header">
								<span>
									<span id="coin-count">1000</span>
									<i class="fa-solid fa-coins"></i>
								</span>
								<button id="show-purchasableOnly" onclick="togglePurchasableOnly()">Purchasable Only</button>
							</div>
							<div class="items">
								<p id="categoryTemplate" class="label hidden">Category</p>
								<div id="itemTemplate" class="item hidden">
									<img src="/placeables/Block.png" />
									<button><span>10</span> <i class="fa-solid fa-coins"></i></button>
									<img class="broken hidden" src="/ui/Broken.png" />
								</div>
							</div>
						</div>
					</div>
					<div id="previewControls" class="box hidden">
						<button id="place" title="Confirm Placement" class="openbtn confirm" onclick="confirmItemPlacement()"><i class="fa-solid fa-check"></i></button>
						<button id="rotateCC" title="Rotate Counter-Clockwise" class="openbtn" onclick="rotateItem(false)"><i class="fa-solid fa-arrow-rotate-left"></i></button>
						<button id="flipX" title="Horizontal Flip" class="openbtn" onclick="flipItem()"><i class="fa-solid fa-arrows-left-right"></i></button>
						<button id="rotateC" title="Rotate Clockwise" class="openbtn" onclick="rotateItem(true)"><i class="fa-solid fa-arrow-rotate-right"></i></button>
						<button id="cancel" title="Cancel Placement" class="openbtn cancel" onclick="endItemPlacement()"><i class="fa-solid fa-xmark"></i></button>
					</div>
				</div>
			</div>
			<div class="page-footer">
				<span>Made by <a href="https://github.com/ipodtouch0218" target="_blank">ipodtouch0218</a>, Logo design by <a href="https://twitter.com/TheBluePixeling" target="_blank">TheBluePixeling</a></span>
				<span class="right-aligned">Source code available <a href="https://github.com/ipodtouch0218/UltimateCrowdControlHorse" target=”_blank”>on GitHub</a></span>
			</div>
		</div>

		<script>instaJoinRoom="<%- locals.room %>"</script>
		<script src="/logic.js"></script>
	</body>
</html>