<!DOCTYPE html>
<html>
	<head>
		<title>Ultimate Crowd Control Horse</title>
		<link rel="stylesheet" href="/home.css" />
		<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
	</head>
	<body>
		<div class="page-container">
			<div class="page-header">
				<h1>Ultimate Crowd Control Horse</h1>
			</div>
			<div class="page-content">
				<div id="pageJoinRoom" class="container">
					<label>Enter a Room ID to join:</label>
					<input id="roomIdField" pattern="[A-Z]" />
					<button id="roomIdSubmit">Submit</button>
				</div>

				<div id="pageConnecting" class="container hidden">
					<p>Connecting to room...</p>
				</div>

				<div id="pageInRoomWaiting" class="container hidden">
					<p>You have connected to the room!<br>Please wait for a game to start...</p>
					<p style="color: #282828">(Maybe take the time to watch the funny streamer...)</p>
				</div>

				<div id="pageInGame" class="container hidden">
					<div id="wrapper" class="embed">
						<div id="placeables">
							<div id="cannotPlaceItems" class="hidden">
								<div class="warning">
									<img src="/ui/CannotPlaceItems.png" />
									<p id="cannotPlaceItemsTimer">You cannot place items right now! (30s)</p>
								</div>
							</div>
						</div>
					</div>
					<div id="itemSidepanel" class="sidepanel">
						<button id="sidepanelOpen" class="openbtn togglebutton" onclick="toggleItemPanel()">&#xAB;</button>
						<div class="content">
							<div class="header">
								<p id="coin-count">1000 &#x1FA99;</p>
							</div>
							<div class="items">
								<p id="categoryTemplate" class="hidden">Category</p>
								<div id="itemTemplate" class="item hidden">
									<img src="/placeables/Block.png" />
									<button>10 &#x1FA99;</button>
									<img class="broken hidden" src="/ui/Broken.png" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="page-footer">
				Made by <a href="https://github.com/ipodtouch0218">ipodtouch0218</a>, with <a id="reference" class="nocolor">love.</a><p id="secret"> (The normal kind, not L&Ouml;VE...)</p>
			</div>
		</div>

		<script>
			const sidepanel = document.getElementById("itemSidepanel");
			let open = false;

			function toggleItemPanel() {
				if (open) {
					closeItemPanel();
				} else {
					openItemPanel();
				}
			}
			function openItemPanel() {
				sidepanel.style.transform = "translateX(0px)";
				document.getElementById("sidepanelOpen").innerHTML = "&#xBB;";
				open = true;
			}
			function closeItemPanel() {
				sidepanel.style.transform = "translateX(100%) translateX(-50px)";
				document.getElementById("sidepanelOpen").innerHTML = "&#xAB;";
				open = false;
			}
		</script>

		<script>instaJoinRoom="<%- locals.room %>"</script>
		<script src="/logic.js"></script>
	</body>
</html>